.newsletter {
  display: grid;
  grid-column: 2;
  grid-template-rows: 13vh 5vh;
  min-height: 100vh;

  &--list {
    grid-row: 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 45rem), 1fr));
    justify-items: center;
  }
}

.news {

  h2,
  div {
    background: #333333;
    color: white;
  }

  h2 {
    font-size: 24px;
    padding: 5px 15px;
  }

  &--image {
    height: 200px;
  }

  &--heading {
    padding: 0;
    margin: 0;
  }
}